<div class="row">


	<div class="col-md-6">
		<div class="card " >
			<h5 class="card-header h5">Informacion del Doctor</h5>
			<div class="card-body">
				<!-- <h5 class="card-title">Special title treatment</h5>
		  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		  <a href="#!" class="btn btn-primary">Go somewhere</a> -->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Nombre</span>
					</div>
					<span class="form-control">{{medico.nombre_persona}}</span>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Apellido</span>
					</div>
					<span class="form-control">{{medico.apellido_persona}}</span>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Telefono</span>
					</div>
					<span class="form-control">{{medico.telefono_persona}}</span>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Correo</span>
					</div>
					<span class="form-control">{{medico.correo_persona}}</span>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Direccion</span>
					</div>
					<span class="form-control">{{medico.direccion_persona}}</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="card">
			<h5 class="card-header h5">Agenda de Citas Medicas</h5>
			<div class="card-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				  </ul>
			</div>
		</div>
	</div>
	
	</div>