<div class="d-flex justify-content-between my-2">
	<h2 class="">Lista Medicos</h2>
	<button class="btn btn-info" (click)="createMedico()">Crear Medico</button>
</div>
<table class="table table-striped">
	<thead class="table-primary">
		<tr>
			<th>Documento</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Telefono</th>
			<th>Correo</th>
			<th>Direccion</th>
			<th>Rol</th>
			<th>Accion</th>
		</tr>
	</thead>
	<tbody *ngFor="let medico of medicos">
			<tr [ngSwitch]="medico.rol_persona"  *ngIf="medico.rol_persona === 2" class="cursor" >
					<td (click)="detailMedico(medico.id_persona)" class="detail">{{medico.id_persona}}</td>
					<td>{{medico.nombre_persona}}</td>
					<td>{{medico.apellido_persona}}</td>
					<td>{{medico.telefono_persona}}</td>
					<td>{{medico.correo_persona}}</td>
					<td>{{medico.direccion_persona}}</td>
	
					<!-- <td *ngSwitchCase="1">Administrador</td> -->
					<td *ngSwitchCase="2">Medico</td>
					<!-- <td *ngSwitchCase="3">Paciente</td> -->
					<td>
						<button (click)="deleteMedico(medico.id_persona)" class="btn btn-danger">Borrar</button>
					</td>
			</tr>
	</tbody>
</table>