<section class="vh-100">
	<div class="container py-5 h-100">
	  <div class="row d-flex align-items-center justify-content-center h-100">
		<div class="col-md-8 col-lg-7 col-xl-6">
		  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
			class="img-fluid" alt="Phone image"> -->
		  <img src="../../assets/undraw_medicine_b1ol.png"
			class="img-fluid" alt="Phone image">
		</div>
		<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
		  <form (ngSubmit)="onSubmit()">
			  <h1 class="text-center mb-5 text-primary">Login</h1>
			<!-- Email input -->
			<div class="form-outline mb-4">
			  <input type="number"  class="form-control form-control-lg" [(ngModel)]="persona.id_persona" name="id_persona" id="id_persona"/>
			  <label class="form-label" for="form1Example13">Email address</label>
			</div>
  
			<!-- Password input -->
			<div class="form-outline mb-4">
			  <input type="password" class="form-control form-control-lg"  [(ngModel)]="persona.password_persona" name="password_persona" id="password_persona"/>
			  <label class="form-label" for="form1Example23">Password</label>
			</div>
  
			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
  
			
  
		  </form>
		</div>
	  </div>
	</div>
  </section>